
title{
  font-family: serif;
}
body{
  /* margin: 0px; */
  font-family: sans-serif;
}

/* Header */
#body-header{
  background-image: url('../static/GradientBackground.JPG');
  background-size: cover;
  height: 50vh;
  opacity: 0.8;
  margin-top: -10px;
  color: lightgrey;
  background-position: center;
  background-attachment: fixed;
}

.header-list{
  list-style: none;
  text-align: right;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  padding-top: 10px;
}

.header-list li{
  display: inline-block;
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 8px;
  padding: 2px 10px;
  font-size: 1.1rem;
}

.header-list li:hover{
  transform: scale(1.2);
  transition: transform 0.7s;
  color: lightgrey;
  border-top: 0px;
  /* border-left: 1px solid white; */
  /* border-bottom: 1px solid white; */
  border-radius: 5%;
  box-shadow: 0px 2px 0px 0px grey;
}

.header-list li a{
  color: white;
  text-decoration: none;
}

.body-header p{
  display: inline-block;
}

.Hi{
  font-size: 1.5rem;
  padding: 5px;
  /* margin-bottom: -20px; */
  position:absolute;
  top: 10vh;
  left: 15vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Name{
  font-size: 2.5rem;
  padding: 5px;
  padding-top: 18px;
  position:absolute;
  left: 15vw;
  top: 11vh;
  margin-top: 2px;
  margin-bottom: 0px;
}
.Name .tooltip{
  visibility: hidden;
  width: auto;
  margin: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: darkgrey;
  color: white;
  position: absolute;
  opacity: 0;
  transition: opacity 1.2s;
}
.Name a{
  text-decoration: none;
  color: lightgrey;
}

.Name a:hover{
  color: orange;
}

.Name a:hover .tooltip{
  visibility: visible;
  opacity: 0.6;
}
.Name span{
  font-size: 1.5rem;
  padding: 0px;
  /* margin-top: 2px; */
}

#header-statement{
  font-size: 1.5rem;
  margin-top: 0px;
}
#nameid{
  margin-bottom: 0;
}

/* Main */

/* Skills Section */
section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(2n){
  background-color: #9ea8b8;
  color: white;
}

section:nth-child(2n+1){
  background-color: white;
  color: #0060ba;
}

.section-heading{
    width: auto;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.section-heading span{
  font-size: 2rem;
}

.section-heading i{
  background-size: cover;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.skills-heading-icon{
  background: url('../static/skills2.png');
}

.skills-display{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-display div{
  background-color: #5C697B;
  color: white;
  padding: 15px 25px;
  margin: 30px;
  box-shadow: 1px 2px 0px 0px lightgrey;
  border-radius: 50px;
  border: 1px solid white;
}

/* Work Experience Section */
.exp-heading-icon{
  background: url('../static/work-exp.png');
  opacity: 0.8;
}

.timeline{
  position: relative;
  width: 75%;
  border: 2px solid black;
}

.timeline-box{
  position: relative;
  width: 40%;
  left: 5%;
  min-height: 150px;
  margin: 5px;
  border: 2px solid black;
}

.timeline-box:nth-child(2n){
  left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
  content: '';
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  position: absolute;
  top: 35%;
  right: -12%;
  z-index: 1;
}

.timeline-box:nth-child(2n)::after{
  content: '';
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  position: absolute;
  top: 47.5%;
  left: -9.5%;
  z-index: 1;
}

.timeline-divider{
  position: absolute;
  height: 60%;
  width: 0%;
  border-left: 3px dashed blue;
  top: 15%;
  left: 50%;
}

.traveller-icon{
  position: sticky;
  top: 40%;
  background-image: url('../static/circle.png');
  width: 15px;
  height: 15px;
  display: block;
  background-size: cover;
}

.timeline-traveller{
  position: sticky;
  top: 35%;
  transform: rotate(100deg);
  z-index: 2;
}

/* Certifications */
.certi-heading-icon{
  background: url('../static/certification.png');
}

/* Education */
.edu-heading-icon{
  background: url('../static/education.png');
}
/* Projects */
.project-heading-icon{
  background: url('../static/project.png');
}
/* Contact */
.contact-heading-icon{
  background: url('../static/email.png');
  opacity: 0.8;
}

#Contact{
  background-image: linear-gradient(to bottom left, darkgrey, black);
  background-size: contain;
}
.contact-container{
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.send-message{
  width: 50%;
  justify: center;
  align-items: center;
}

.get-in-touch{
  width: 50%;
  text-align: center;
}

.get-in-touch ul{
  text-align: center;
  padding: 10px 25px;
}
/* Footer */
