
title{
  font-family: serif;
}
body{
  /* margin: 0px; */
  font-family: sans-serif;
}

/* Header */
#body-header{
  background-image: url('../static/GradientBackground.JPG');
  background-size: cover;
  height: 50vh;
  opacity: 0.8;
  margin-top: -10px;
  color: lightgrey;
  background-position: center;
  background-attachment: fixed;
}

.header-list{
  list-style: none;
  text-align: right;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  padding-top: 10px;
}

.header-list li{
  display: inline-block;
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 8px;
  padding: 2px 10px;
  font-size: 1.1rem;
}

.header-list li:hover{
  transform: scale(1.2);
  transition: transform 0.7s;
  color: lightgrey;
  border-top: 0px;
  /* border-left: 1px solid white; */
  /* border-bottom: 1px solid white; */
  border-radius: 5%;
  box-shadow: 0px 2px 0px 0px grey;
}

.header-list li a{
  color: white;
  text-decoration: none;
}

.body-header p{
  display: inline-block;
}

.Hi{
  font-size: 1.5rem;
  padding: 5px;
  /* margin-bottom: -20px; */
  position:absolute;
  top: 10vh;
  left: 15vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Name{
  font-size: 2.5rem;
  padding: 5px;
  padding-top: 18px;
  position:absolute;
  left: 15vw;
  top: 11vh;
  margin-top: 2px;
  margin-bottom: 0px;
}
.Name .tooltip{
  visibility: hidden;
  width: 40%;
  margin: 10px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  background-color: darkgrey;
  color: white;
  position: absolute;
  opacity: 0;
  transition: opacity 1.2s;
}
.Name a{
  text-decoration: none;
  color: lightgrey;
}

.Name a:hover{
  color: orange;
}

.Name a:hover .tooltip{
  visibility: visible;
  opacity: 0.6;
}
.Name span{
  font-size: 1.5rem;
  padding: 0px;
  /* margin-top: 2px; */
}

#header-statement{
  font-size: 1.5rem;
  margin-top: 0px;
}
#nameid{
  margin-bottom: 0;
}

/* Main */

/* Skills Section */
section{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(2n){
  background-color: #9ea8b8;
  color: white;
}

section:nth-child(2n+1){
  background-color: white;
  color: #0060ba;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
}

.section-heading span{
  font-size: 2rem;
}

.skills-heading-icon{
  background: url('../static/skills2.png');
  background-size: cover;
  display: inline-flex;
  width: 3rem;
  height: 2rem;
}
/* Footer */
